.outer(ng-controller="HomeCtrl")
  %br
  Thank you for participating in the I Care 2013 classic Bicycle Tour, sponsored by Lions.  
  %br
  %br
  Select "Runner List" above to start marking runners as entering and exiting the race, 
  %br
  %br
  = "- or -"
  %br
  %br
  Select "Register New Runner" to add someone not in the system.
  %br
  %br
  =image_tag("lionlogo.gif", :size=>"100x100")
  =image_tag("icare.gif", :size=>"100x100")