%form
  %fieldset
    %legend 
      Rider Registration
    %div.pull-left
      %label
        Name
      %input(type="text" placeholder="First Name" ng-model="first_name")
      %input(type="text" placeholder="Last Name" ng-model="last_name")
      %label
        Address
      %input.input-xlarge(type="text" placeholder="123 Somewhere Street" ng-model="address")
      %br
      %input(type="text" placeholder="City" ng-model="city")
      %br
      %input.inline.input-mini(type="text" placeholder="CA" ng-model="state")
      %input.inline.input-small(type="text" placeholder="Zip Code" ng-model="zip")
      %label
        Email
      %input(type="text" placeholder="newuser@email.com" ng-model="email")
      %label
        Phone Number
      %input(type="text" placeholder="xxx-xxx-xxxx" ng-model="phone")

    %div.pull-left(style="padding-left:40px")
      %label
        Emergency Contact
      %input(type="text" placeholder="Full Name" ng-model="emergency_contact")
      %br
      %input(type="text" placeholder="Phone Number" ng-model="emergency_phone")
      %br
      %br
      %label
        Ride
      %select.selectpicker(ng-model="ride")
        %option 20 mi
        %option 50 km
        %option 100 km
        %option 100 mi flat
        %option 100 mi hilly
      %br
      %br
      %label
        Shirt Size
      %select.selectpicker(ng-model="shirt_size")
        %option S
        %option M
        %option(selected="selected") L
        %option XL
        %option XXL
      %br
      %label
        Gender
      %span.checkbox.inline
        %input(type="radio" name="gender" ng-model="gender" value="male") 
          M
      %span.checkbox.inline
        %input(type="radio" name="gender" ng-model="gender" value="female") 
          F
    %button.btn.btn-large.btn-block(type="submit" ng-click="submit(this)")
      Register