!!!
%html(ng-app="icare")
  %head
    %title 
      Lions
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery", "lib/angularjs/1.1.3/angular.min.js", "lib/angularjs/1.1.3/angular-resource.min.js", "lib/bootstrap.min.js", "js/app", "js/registrations"
    = csrf_meta_tags

  %body
  .outer
    = image_tag("index2013.jpg", :size =>"850x148")
    .navbar
      .navbar-inner
        %a.brand(href="#")
          I Care 2013 Classic - Riders
        %input(ng-model="search" style="margin-top:6px;" placeholder="Search")
    .outer(ng-controller="ListCtrl")
      %table.table-striped.big#main
        %thead
          %tr
            %th(ng-click="orderOn('last_name')") Name
            %th(width="100" ng-click="orderOn('ride')") Ride
            %th(ng-click="orderOn('bib_number')") Band&nbsp;
            %th(width="170" ng-click="orderOn('checkin_time')") Check-In Time
            %th(width="160" ng-click="orderOn('return_time')") Return Time
            %th(width="200") Emer. Contact
        %tbody
          %tr(ng-repeat="reg in registrations | filter:search | orderBy:order_by:order_direction")
            %td
              {{reg.first_name.slice(0,12)}}
              {{reg.last_name.slice(0,12)}}
              %br
              {{reg.phone}}
              %br
              %br
            %td 
              {{reg.ride.slice(0,12)}}
            %td 
              {{reg.bib_number}}
            %td
              %a.btn(data-toggle="modal" href="#myModal" role="button" ng-click="do(reg)")
                Check In
              {{reg.checkin_time.slice(11,-4)}}
            %td
              %a.btn(data-toggle="modal" href="#modalCheckIn" role="button" ng-click="do(reg)")
                Return
              {{reg.return_time.slice(11,-4)}}
            %td
              {{reg.emergency_contact}}
              %br
              {{reg.emergency_phone}}
              %br
              %br
      #myModal.modal.hide.fade
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3 {{edit_me.first_name}} {{edit_me.last_name}} - Check In
        .modal-body
            
          %p 
            Ride
            %select(placeholder="100 mi hilly" ng-model="edit_me.ride")
              %option 20 mi
              %option 50 km
              %option 100 km
              %option 100mi flat
              %option 100mi hilly
          %p
            BIB Number
            %input(ng-model="edit_me.bib_number")
          %p
            Payment
            %select(ng-model="edit_me.payment")
              %option PAID
              %option Rider - 55
              %option Tandem - 90
              %option Family - 95
              %option Extra rider - 0
        .modal-footer
          %a.btn{:href => "#myModal", "data-dismiss" => "modal"} Close
          %a.btn.btn-primary{:href => "#myModal", "data-dismiss" => "modal", "ng-click"=> "update()"} Save changes

      #modalCheckIn.modal.hide.fade
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3 {{edit_me.first_name}} {{edit_me.last_name}} - Return
        .modal-body
            
          %p 
            Has this rider returned?
        .modal-footer
          %a.btn{:href => "#modalCheckIn", "data-dismiss" => "modal"} No
          %a.btn.btn-primary{:href => "#modalCheckIn", "data-dismiss" => "modal", "ng-click"=> "return()"} Yes

  .outer(ng-view)

