<!DOCTYPE html>
<html ng-app>
<head>
  <title>I Care Classic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "lib/angularjs/1.0.6/angular.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
